<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings configSource="connections.config"/>
	<appSettings>
		<add key="porgrpik" value="879,727,726,725"/>
		<add key="Roles" value="NHO Konfliktfond,NHO Arbeidsmiljøfond,NHO Landsforeninger,NHO Administrasjon,Client Reporting"/>
		<add key="Roles_Rights" value="VSRED"/>
		<add key="Roles_Rights_Extended" value="VSRWED"/>
		<add key="725" value="665"/>
		<add key="726" value="666"/>
		<add key="727" value="667"/>
		<add key="879" value="680"/>
		<add key="ActuateBrukernavn" value="Administrator"/>
		<add key="PROD_ActuateId" value="333"/>
		<add key="TEST_ActuateId" value="324"/>
		<add key="PROD_ActuateURL" value="https://eng1.ihub.corp.storebrand.no:8001"/>
		<add key="TEST_ActuateURL" value="https://eng1.t-ihub.corp.storebrand.no:8001"/>
		<add key="ActuateVolum" value="Default Volume"/>
		<add key="ActuateFolderkunde" value="/Customers/Arno/"/>
		<!-- <add key="ActuateFolderkunde" value="/Customers/Næringslivets Hovedorganisasjon/"/> -->

		<add key="sqlstring" value="SELECT  '01' AS Transtype,
                                  TO_CHAR (bookingmonth, 'DDMMYYYY') AS EntryDate,
                                  '10630' AS VoucherNo,
                                  TO_CHAR (bookingmonth, 'DDMMYYYY') AS VoucherDate,
                                  '3000' AS Voucher_type_no,
                                  'yyyyyy' xxxxxx RTRIM(finaccountname) xxxxxx 'yyyyyy' AS Voucher_Text,
                                  '0' AS DepNo,
                                  '0' AS ProjectNo,
                                  DECODE (SIGN (amountpc), 1, findynacc, '0') AS DebitAccountNo,
                                  DECODE (SIGN (amountpc), -1, findynacc, '0') AS CreditAccountNo,
                                  '0' AS VAT_Code,
                                  '0' AS CurrencyNo,
                                  '0' AS ExchangeRate,
                                  '0' AS ExchangeAmount,
                                  ABS (amountpc) AS Amount,
                                  '0' AS ContraEntryNo,
                                  '0' AS DueDate,
                                  '0' AS ContraEntryChainNo,
                                  '0' AS Quantity,
                                  'zzzzzz' AS Kid
                                  FROM (  SELECT f.findynacc,
                                  SUM (f.amdebitpc) - SUM (f.amcreditpc) amountpc,
                                  fa.finaccountname,
                                  g.porgrp,
                                  LAST_DAY (f.bookingmonth) AS bookingmonth
                                  FROM tmsdat.fintranscomp f,
                                  tmsdat.finaccounts fa,
                                  tmsdat.portfolios p,
                                  tmsdat.portgroups g
                                  WHERE     f.grpfld1 = g.porgrpik
                                  AND f.grpfld4 = p.porik
                                  AND f.finaccountik = fa.finaccountik
                                  AND g.porgrpik IN (kkkkkk)
                                  AND LAST_DAY (f.bookingmonth) = tmssim.sbk_util.eolm
                                  GROUP BY f.findynacc,
                                  g.porgrp,
                                  fa.finaccountname,
                                  LAST_DAY (f.bookingmonth))
                                  WHERE amountpc ffffff 0"/>

	</appSettings>
	<log4net>
		<!-- In log4net, output destinations are known as appenders -->
		<!-- Roll the file when it reaches 1MB -->
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Specify which file to write to -->
			<param name="File" value="SCD_NHO_iHub.log"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<!-- How many log files should we keep? -->
			<maxSizeRollBackups value="2" />
			<!-- Roll to a new file when current one hits 1MB -->
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<!-- The format of each line in the log -->
			<layout type="log4net.Layout.PatternLayout">
				<!-- <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/> -->
				<param name="ConversionPattern" value="%d [%t] %-5p %m%n"/>
			</layout>
		</appender>
		<!-- Set root logger level to INFO and appender to LogFileAppender -->
		<root>
			<level value="INFO" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
</configuration>
