<connectionStrings>
	<add name="PROD_SCD" connectionString="Data Source=scdp.world;User ID=IWwR0SHx8jFMI1H8vSoX/AQiAjdCfLQUOMlm/YLUN+Y=;Password=YZ/cfJHhM+YlW0uhDf0RXsmGVPNVwocmSy7YGrpnhqfKWTuVNsW1eoLC7O9R9N37;pooling=true;min pool size=5;Max Pool Size=60;Connection Timeout=60" providerName="Oracle.DataAccess.Client"/>
	<add name="TEST_SCD" connectionString="Data Source=sctest.world;User ID=IWwR0SHx8jFMI1H8vSoX/AQiAjdCfLQUOMlm/YLUN+Y=;Password=YZ/cfJHhM+YlW0uhDf0RXsmGVPNVwocmSy7YGrpnhqfKWTuVNsW1eoLC7O9R9N37;pooling=true;min pool size=5;Max Pool Size=60;Connection Timeout=60" providerName="Oracle.DataAccess.Client"/>
	<add name="PROD_Enigma" connectionString="Data Source=db-enigma.corp.storebrand.no;Initial Catalog=Enigma;user id=gGO4PPCN/FDiRiqkUn+F2S54HAebs3LRZ7Hy6CTkvWc=;password=0O1cDL88C5UAFNy1Jz7vWIJMDDresNE094yzOfGKdJlJUs0iWUYUYs+Zb4bIOEAM9aYu2Gg+mR+tdHzVFzllQA==" providerName="System.Data.SqlClient"/>
	<add name="TEST_Enigma" connectionString="Data Source=t-db-enigma.corp.storebrand.no;Initial Catalog=Enigma;user id=tTnVm/gMjCvimdIErr3ETR8fckGFTI3lGEoxNaZ/54Q=;password=1E6NqKFyeo09d7PHAr4eSydSnpeMbPXzfU8+kFm/WvW1DldmR0HiwOHQKEHv1RiLp7ubCi6Gbw8l+5kbeJ7CYA==" providerName="System.Data.SqlClient"/>
</connectionStrings>